main {
  min-height: 90vh;
}
header {
  background-color: var(--bg-100) !important;
}
.dropdown-menu {
  background-color: var(--bg-100) !important;
  color: var(--text-100) !important;
}

.dropdown-item {
  color: var(--text-100) !important;
}
.dropdown-item:hover {
  background-color: var(--bg-200);
  color: var(--text-100);
}

.nav-link {
  color: var(--text-200);
  transition: 0.2s ease-in-out;
}
.nav-link:hover {
  color: var(--primary-100);
}
.nav-link.active {
  font-weight: bold;
  background-color: var(--bg-300);
  color: var(--primary-100);
  border-radius: 8px;
}

/* Sidebar Styles */
.sidebar {
  background-color: var(--bg-200);
  width: 240px;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

.card {
  background-color: var(--bg-100);
  border: var(--bg-200) 1px solid;
  box-shadow: var(--text-100-20) 0px 2px 8px 0px;
  color: var(--text-100);
}

.dZdOzu,
.kMgreK,
.fBjZMk,
.cocSnr {
  background-color: var(--bg-100) !important;
  color: var(--text-100) !important;
}

.bYAWFJ {
  background-color: var(--bg-200) !important;
  color: var(--text-200) !important;
}

.dlOXOQ:disabled {
  color: var(--text-100-20) !important;
  fill: var(--text-100-20) !important;
}

.dlOXOQ {
  color: var(--text-100) !important;
  fill: var(--text-100) !important;
  transform: rotate(180deg);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  background-color: var(--bg-100-50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: var(--bg-100);
  padding: 1.5rem;
  border-radius: 0.5rem;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: unset;
  height: auto !important;
}

.modal-backdrop.show {
  opacity: 1;
}

.notfound {
  min-height: 80vh;
}

.form-control {
  background-color: var(--bg-100);
  border: 1px solid var(--bg-200);
  color: var(--text-100) !important;
}

.form-control:focus {
  border-color: var(--primary-100);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  background-color: var(--bg-200);
}

.form-control:disabled {
  background-color: var(--bg-200);
  color: var(--text-100-20) !important;
}

.form-control:invalid {
  background-color: var(--bg-200);
  color: var(--text-100-20) !important;
}

.form-control::placeholder {
  /* background-color: var(--bg-200) !important; */
  color: var(--text-100-20) !important;
}

.input-group-text {
  background-color: var(--bg-200);
  border: 1px solid var(--bg-200);
  color: var(--text-100) !important;
}

.form-select {
  background-color: var(--bg-100);
  border: 1px solid var(--bg-200);
  color: var(--text-100) !important;
}

.address-card {
  background-color: var(--bg-200);
}

.timeline-container {
  background-color: var(--bg-100);
  border: 1px solid var(--bg-200);
  color: var(--text-100);
}

.bg-200 {
  background-color: var(--bg-200);
}

.text-muted {
  color: var(--text-100-20) !important;
}

.reg {
  background-image: url("./assets/regBg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg form {
  min-width: 380px;
  min-height: 380px;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--accent-100-30);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.reg form .form-lapel {
  color: white !important;
  font-weight: bold;
}

.reg form .form-control {
}

.dZdOzu {
  background-color: var(--bg-100) !important;
  color: var(--text-100) !important;
}

.hwfooH {
  background-color: var(--bg-200) !important;
  color: var(--text-100) !important;
}

.bcqyUS{
  background-color: var(--bg-100) !important;
  color: var(--text-100) !important;
}

.text-primary{
  color: var(--primary-100) !important;
}